*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    padding: 0;
    margin: 0;
    background: rgb(239, 239, 240);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 10vh);
    grid-template-rows: minmax(12vh, auto) repeat(5, 10vh);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 1.5em;
    text-align: center;
    margin: -1px;
    border: 1px solid black;
    /*border: 1px solid white;*/
    color: white;
    outline: none;
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    margin: -1px;
    background-color:rgba(0, 0, 0, 85%);
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 3%;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255, 255, 255.75);
    font-size: 1rem;
}

.output .current-operand {
    color: white;
    font-size: 2rem;
}


.digitBtn {
    width: 10vh;
    height: 10vh;
    margin: 1px;
    text-align: center;
    border: solid black 0.5px;
    border-radius: 10%;
}

.top-row {
    background-color: hsl(195, 53%, 65%);
}

.top-row:hover {
    background-color: hsl(195, 53%, 50%);
}

.operatorBtn {
    background-color: hsl(0, 72%, 66%);
}

.operatorBtn:hover {
    background-color: hsl(0, 72%, 55%);
}

.numberBtn {
    font-weight: bold;
    background-color: lightblue;
}

.numberBtn:hover {
    background-color: hsl(195, 53%, 75%);
}

.equal {
    background-color: hsl(0, 72%, 44%);
}

.equal:hover {
    background-color: hsl(0, 98%, 32%);
}

@media screen and (max-width: 375) {
    .calculator-grid{
      min-height: 100vh;
      min-width: 100vh;  
    }
}

@media screen and (max-height: 667) {
    .calculator-grid{
        min-height: 100vh;
        min-width: 100vh;  
    }
}


